#container{
	width:auto;
	height:1000px;
	justify-content:center;
	align-items:center;
	display:flex;
}

#body{
	background:yellow;
	height:250px;
	width:250px;
	border-radius: 50%;
	justify-content:space-around;
	align-items: center;
	flex-wrap:wrap;
	border-bottom-style: groove;
    border-bottom-color: red;
	display:flex;
}

#eye1{
	background:white;
	height:53px;
	width:36px;
	border-radius: 50%;
	border: solid;
	align-items: flex-end;
	justify-content:space-around;
	display:flex;
}

#eye2{
	background:white;
	height:53px;
	width:36px;
	border-radius: 50%;
	border: solid;
	align-items: flex-end;
	justify-content:space-around;
	display:flex;
}

#eye11{
	background:#34BDEF;
	height:36px;
	width:20px;
	border-radius: 50%;
	align-items: flex-end;
	justify-content:space-around;
	display:flex;
}

#eye22{
	background:#34BDEF;
	height:36px;
	width:20px;
	border-radius: 50%;
	align-items: flex-end;
	justify-content:space-around;
	display:flex;
}

#eye111{
	background:black;
	height:20px;
	width:12px;
	border-radius: 50%;
}

#eye222{
	background:black;
	height:20px;
	width:12px;
	border-radius: 50%;
}













	